
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Lucida Sans Unicode ,sans-serif;
	
}



.nav{
	background-color: #F3A712;
	align-items: center;	
	display: flex;
	position: fixed;
	justify-content:center;
	width: 100%;
	z-index: 1;
}
	
.nav ul li{
	list-style: none;
	display: inline-block;
	margin: 4px 40px;
}

.nav img{
float: left;
height:48px;
	margin-top: 2%;
}

.nav ul li a{
text-decoration: none;
	color: black;
	font-size:large;
	font-weight:bold;
}

.select{
	border-bottom: 3px white solid;
	}
nav ul li a:hover{
	border-bottom: 3px white solid;
	}

main{
	margin-top: 20px;
	padding: 1px;

}
th, td {
    border: 1.8px solid rgba(1, 153, 255, 0.918);
    background-color: aliceblue;
  }
  
th{
    padding: 1px 18px; 
    margin: 5px;
    font: bold;
    font-size: larger;
    color: #38c21d;
}

td{
    padding: 10px 18px;
    margin: 5px;

}
td a , li ,td{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
table, th ,td{
    border-radius: 20px;
    text-align: center;
}

tr td:first-of-type{
color: #38c21d;
font-weight: bold;
}

td img{
    margin: 0px 5px;

    height: 20px;
    width: auto;
    text-align: center;
    align-items: center;
}
table{
    margin-bottom: 50px;
    padding: 20px;
}